In [1]:
x=10
y=float(x)
print(type(y))

<class 'float'>

In [2]:
x=10
y=10.5
print(type(x+y))

<class 'float'>

In [3]:
product_name=str(input("Enter the name of the product:"))
quantity=int(input("Enter quantity:"))
price=float(input("Enter price:"))
amount=quantity*price
print(amount)

Enter the name of the product: chocolate
Enter quantity: 25
Enter price: 70.6

1764.9999999999998

In [7]:
a=10
if a>6:
    print("hello")

hello

In [8]:
a=10
if a>13:
    print("hello")
else:
    print("bye")

bye

In [13]:
month=str(input("Enter month:"))
month=["jan","feb","march","april","may","june","july","august","sept","oct","nov","dec"]
if month=="dec":
    if month=="jan":
        if month=="feb":
            print("Winter")
if month=="march":
    if month=="april":
        if month=="may":
            print("Summer")
if month=="june":
    if month=="july":
        if month=="august":
            print("Monsoon")
if month=="sept":
    if month=="oct":
        if month=="nov":
            print("Autumn")
else:
    print("invalid month")

Enter month: july

invalid month